@import url('https://fonts.googleapis.com/css?family=Abel|Source+Code+Pro&display=swap');

:root {
    --brand-bg-color: #2c2c2c;
    --brand-txt-color: #ffffff;
    --brand-link-color: #ffffff;
    --brand-safety-color: #ff6700;
    --brand-black-color: #000000;
    padding: 100px;
}
 
body {
    color: var(--brand-txt-color);
    background-color: var(--brand-black-color);
    font-family: "Abel";
}

.header {
    width: 100%;
    color: var(--brand-txt-color);
}

a {
    color: var(--brand-link-color);
}

.footer {
    background-color: var(--brand-bg-color);
}

.button {
    height: 70px;
    alignItems: center;
    paddingLeft: 75px;
    paddingRight: 75px;
    display: flex;
    justifyContent: flex-end;
}

.button-inner {
    display: flex;
    width: 116px;
    height: 42px;
    backgroundColor: #000000;
    borderRadius: 10px;
    cursor: pointer;
    alignItems: center;
    justifyContent: center;
    color: #ffffff;
    fontWeight: bold;
}

ul {
    list-style: none;
}

li {
    margin: 5px;
}